.homePage {
  width: 100%;
  text-align: -webkit-center;

  // Connection Form
  .form {
    margin: 50px 0;
    display: table-caption;
    
    input {
      padding: 5px 30px;
      text-align: center;
    }

    // Input Error Text
    .invalid-name {
      color: $red;
      margin-top: 4px;
    }

    // Connection Button
    .btn {
      margin-top: 20px;
      padding: 5px 30px;
    }
  }

  // Chats Content
  .chatsContainer {
    max-width: 1000px;
    // max-height: 850px;
    margin: 10px;
    margin-bottom: 50px;

    
    // Chat List Box Left Side
    .chatslistBox {
      position: relative;

      padding: 10px;
      width: 100%;
      height: 500px;
      
      border: $mainChatsBorder;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;

      // Chats Count Shower
      h6 {
        text-align: start;
        margin: 0 5px;
      }

      // Chats List
      ul {
        height: 80%;
        overflow: auto;
      }

      // Item List
      .chatItemOfList {
        width: 100%;
        height: 75px;
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 20px;
        margin: 10px 0;
        
        border: $mainChatsBorder;
        border-radius: 10px;

        .bi-trash {
          color: $darkRed;
          font-size: 2rem;
        }
        
      }

      // Plus Icon to Open New Chat
      .bi-plus {
        position: absolute;
        bottom: 3%;
        right: 45%;
        padding: 5px 10px;
        font-size: 1.5rem;
        border: solid 1px $black;
        border-radius: 35px;
      }
    }
    
    // Chat's Message Box
    .messageBox {
      padding: 5px;

      border: $mainChatsBorder;
      border-inline-start: none;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      .messagesContent {
        border: $mainChatsBorder;
        border-radius: 10px;
        height: 100%;
        
        .texterForm {
          width: 100%;
          position: absolute;
          bottom: 4%;
          right: 0;
          
          .div1 {
            padding: 0;
          }
          .div2 {
            padding-right: 30px;
          }
          
          input {
            width: 100%;
            height: 75px;
            
            padding: 15px;

            font-size: 1.5rem;
            border-radius: 25px;
          }
  
          button {
            width: 100%;
            height: 75px;
            border-radius: 25px;
  
            .bi-send-fill {
              color: $blue;
              font-size: 2.5rem;
            }
          }
        }
      }

    }
  }
}